

.container-our-team{
    max-width: 1300px;
    margin:40px auto;
    display: flex;
    justify-content: center;
}
.container-list-our-team{
    display: flex;
    flex-wrap: wrap;
}

.list-our-team{
    border-bottom: 1px solid #b1acac;
    width: 300px;
    height: 500px;
    overflow: hidden;
    margin: 10px;
}

.img-our-team{
    height: 300px;
    width: 100%;
    position: relative;
}

.contai-icon-our{
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
}
.our-1,
.our-2,
.our-3,
.our-4{
    background-color: rgb(75, 75, 75);
    width: 34px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.list-our-team:hover .our-1{
    display: flex;
}
.list-our-team:hover .our-2{
    display: flex;
}
.list-our-team:hover .our-3{
    display: flex;
}
.list-our-team:hover .our-4{
    display: flex;
}
.our-1>a,
.our-2>a,
.our-3>a,
.our-4>a{
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
}
.our-1{
    animation: our1 0.40s ease-in;
}
@keyframes our1 {
    from{width: 0;height: 0;font-size: 0;}
    to{width: 34px;height: 30px;font-size: 16px;}
}
.our-2{
    animation: our2 0.30s ease-in;
}
@keyframes our2 {
    from{width: 0px;height: 0px;font-size: 0;}
    to{width: 34px;height: 30px;font-size: 16px;}
}
.our-3{
    animation: our3 0.20s ease-in;
}
@keyframes our3 {
    from{width: 0px;height: 0px;font-size: 0;}
    to{width: 34px;height: 30px;font-size: 16px;}
}
.our-4{
    animation: our4 0.10s ease-in;
}
@keyframes our4 {
    from{width: 0px;height: 0px;font-size: 0;}
    to{width: 34px;height: 30px;font-size: 16px;}
}
.our-1:hover,
.our-2:hover,
.our-3:hover,
.our-4:hover{
    background-color: brown;
    transform: scale(1.3);
}
.our-5{
    background-color: brown;
    width: 34px;
    color: #ffffff;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}

.name-our{
    margin-left: 7%;
    width: 150px;
    animation: nameo 0.40s ease-in;
    display: none;
}
@keyframes nameo {
    from{width: 0;opacity: 0;}
    to{width: 150px;opacity: 1;}
}
.name-our>h5{
    padding: 0 0 10px 0;
    margin: 5px 0;
    border-bottom: 1px solid brown;
    color: #272727;
}
.list-our-team:hover .name-our{
    display: block;
}
.list-our-team:hover .img1{
    opacity: 0.7;
}

.img-our-team>img{
    width: 100%;
    height: 100%;
}

.contai-text-our{
    margin: 10% 0;
}
.contai-text-our>p{
    line-height: 25px;
    color: #7a7a7a;
}