

.container-header-about{

   height: 400px ;
   max-width: 1300px;
   margin: auto;
   position: relative;
}
.container-header-about>h3{
    color: #f5f0f0;
    font-weight: 700;
    font-size: 30px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);

}
.container-header-about>span{
    position: absolute;
    top:50% ;
    left: 50%;
    transform: translate(-50%);
    background-color: rgb(182, 3, 3);
    padding: 10px;
    font-size: 18px;
    color: #080808;
}
.container-header-about>span>a{
    color: #ffffff;
    text-decoration: none;
}
.container-header-about>span>a:hover{
    color: #242424;
}
.container-header-about>img{
    width: 100%;
    height: 100%;
}